
<body class="bg-light">
  <div class="container">
    <div class="py-5 text-center">
      <h2>Requstor Orders</h2>
      <p class="lead">
        This information is confidential!
      </p>



      <table class="table table-hover">
        <thead class="thead-light">
          <th>Requestor</th>
          <th>Product Name</th>
          <th>Quantity</th>
          <th>Total</th>
          <th>Check Availability</th>

        </thead>
        <tbody>
          <tr *ngFor="let RequestorOrderproduct of requestororderList">
            <th>{{RequestorOrderproduct.Requestor}}</th>
            <th>{{RequestorOrderproduct.Name}}</th>
            <th>{{RequestorOrderproduct.Quantity}}</th>
            <th>{{RequestorOrderproduct.Total | currency}}</th>
            <th class="text-light" [ngStyle]="{'background-color':RequestorOrderproduct.status === 'Available' ? 'green' : 'red'}"> {{RequestorOrderproduct.status}} </th>

          </tr>
        </tbody>
      </table>

    </div>
  </div>

</body>
<div class="card text-center">

  <div class="card-body">

    <p class="card-text">Created by TEAM 04 - BTM 495</p>
    <a href="" class="btn btn-primary">TEAM 04 - BTM 495</a>
  </div>

</div>
