<app-navbar></app-navbar>

<section class="container">
  <div class="columns is-multiline">
    <div class="column is-8 is-offset-2 register">
      <div class="columns">

        <div class="column right has-text-centered">
          <br><br> <br><br> <br><br>
          <h1 class="title is-4">Sign Up</h1>
          <p class="description"> </p>



          <form [formGroup]="service.formModel" autocomplete="off" (submit)="onSubmit()">
            <div class="field">
              <div class="control">
                <input class="input is-medium" formControlName="UserName" type="text" placeholder="Username">
                <label class="text-danger" *ngIf="service.formModel.get('UserName').touched && service.formModel.get('UserName').errors?.required"> Required</label>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <input class="input is-medium" formControlName="Email" type="email" placeholder="Email">
                <label class="text-danger" *ngIf="service.formModel.get('Email').touched && service.formModel.get('Email').errors?.email"> Invalid Email</label>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <input class="input is-medium" formControlName="FullName" type="text" placeholder="Name">
              </div>
            </div>

            <div formGroupName="Passwords">
              <div class="field">
            <div class="control">
            <input class="input is-medium" formControlName="Password" type="password" placeholder="Password">
            <label class="text-danger" *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.required"> Required</label>
            <label class="text-danger" *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.minlength"> Minimum 5 characters Required</label>
            </div>
            </div>
            <div class="field">
            <div class="control">
            <input class="input is-medium" formControlName="ConfirmPassword" type="password" placeholder="Confirm Password">
            <label class="text-danger" *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.required"> Required</label>
            <label class="text-danger" *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.passwordMismatch"> Give it another try!</label>
            </div>
            </div>
          </div>

<br>
<div class="field">
  <div class="control">
    <button type="submit" class="button is-block is-link is-fullwidth is-medium" [disabled]="!service.formModel.valid">Submit</button>
  </div>
  </div>

          </form>




        </div>
      </div>
    </div>
    <div class="column is-8 is-offset-2">
      <br>
      <nav class="level">
        <div class="level-left">
          <div class="level-item">

            <span class="icon">
              <i class="fab fa-facebook"></i>
            </span> &emsp;
            <span class="icon">
              <i class="fab fa-instagram"></i>
            </span> &emsp;
            <span class="icon">
              <i class="fab fa-github"></i>
            </span> &emsp;

          </div>
        </div>
        <div class="level-right">
          <small class="level-item" style="color: var(--textLight)">
            &copy; Fawad Saadat. All Rights Reserved.
          </small>
        </div>
      </nav>
    </div>
  </div>
</section>
