<body class="bg-light">
  <div class="container">
    <div class="py-5 text-center">
      <h2>Sent Order to Suppliers!</h2>
      <p class="lead">
        This information is confidential!
      </p>


      <table class="table table-hover">
        <thead class="thead-light">
          <th>Order Number.</th>
          <th>Requestor</th>
          <th>Payment Method</th>
          <th>Total</th>

        </thead>
        <tbody>
          <tr *ngFor="let orderproduct of orderList">
            <th>{{orderproduct.OrderNo}}</th>
            <th>{{orderproduct.Requestor}}</th>
            <th>{{orderproduct.PaymentMethod}}</th>
            <th>{{orderproduct.Total | currency}}</th>


          </tr>
        </tbody>
      </table>

    </div>
  </div>
  <br><br><br><br><br><br><br><br><br><br><br><br>
  <div class="card text-center">

    <div class="card-body">

      <p class="card-text">Created by TEAM 04 - BTM 495</p>
      <a href="" class="btn btn-primary">TEAM 04 - BTM 495</a>
    </div>

  </div>

</body>

