<section class="container">
  <div class="columns is-multiline">
    <div class="column is-8 is-offset-2 register">
      <div class="columns">

        <div class="column right has-text-centered">
          <h1 class="title is-4"></h1>
          <p class="description">Sign Up </p>
          <form>
            <div class="field">
              <div class="control">
                <input class="input is-medium" type="text" placeholder="Name">
              </div>
            </div>

            <div class="field">
              <div class="control">
                <input class="input is-medium" type="email" placeholder="Email">
              </div>
            </div>
            <button class="button is-block is-success is-fullwidth is-medium">Submit</button>
            <br />
          </form>
        </div>
      </div>
    </div>
    <div class="column is-8 is-offset-2">
      <br>
      <nav class="level">
        <div class="level-left">
          <div class="level-item">

            <span class="icon">
              <i class="fab fa-facebook"></i>
            </span> &emsp;
            <span class="icon">
              <i class="fab fa-instagram"></i>
            </span> &emsp;
            <span class="icon">
              <i class="fab fa-github"></i>
            </span> &emsp;

          </div>
        </div>
        <div class="level-right">
          <small class="level-item" style="color: var(--textLight)">
            &copy; Fawad Saadat. All Rights Reserved.
          </small>
        </div>
      </nav>
    </div>
  </div>
</section>
