<h4 class="display-4">Order Product</h4>
<hr />
<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">

  <input type="hidden" name="ProductName" #ProductName="ngModel" [(ngModel)]="formData.Name" />

  <input type="hidden" name="OrderProductID" #OrderProductID="ngModel" [(ngModel)]="formData.OrderProductID" />

  <input type="hidden" name="ProductID" #ProductID="ngModel" [(ngModel)]="formData.ProductID" />



  <div class="form-group">
    <label> Products </label>
    <select name="Name" #Name="ngModel" [(ngModel)]="formData.ProductID" class="form-control"
      (change)="updatePrice($event.target)" [class.is-invalid]="!isValid && formData.ProductID==0">

      <option value="0">Select</option>
      <option *ngFor="let product of productList" value="{{ product.ProductID }}">{{product.Name}}
      </option>
    </select>
  </div>



  <div class="form-group">
    <label> Select Size </label>
    <select name="productID" #Size="ngModel" [(ngModel)]="formData.Size" class="form-control"
      (change)="updatePrice($event.target)">
      <option value="0">Select</option>
      <option *ngFor="let product of productList" value="{{ product.Size }}">{{ product.Size }}
      </option>
    </select>
  </div>



  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Price</label>
      <input mvndrMatCurrencyFormat [currencyCode]="'USD'" name="Price" #Price="ngModel" [(ngModel)]="formData.Price"
        class="form-control" readonly />
    </div>
    <div class="form-group col-md-6">
      <label>Quantity</label>
      <input name="Quantity" #Quantity="ngModel" [(ngModel)]="formData.Quantity" class="form-control"
        (keyup)="updateTotal()" [class.is-invalid]="!isValid && formData.Quantity==0" />
    </div>
    <div class="form-group col-md-6">
      <label>Total</label>
      <input mvndrMatCurrencyFormat [currencyCode]="'USD'" name="Total" #Total="ngModel" [(ngModel)]="formData.Total"
        class="form-control" readonly />
    </div>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-dark">
      <i class="fa fa-check-square"></i>
      Submit
    </button>
    <button type="button" class="btn btn-outline-dark ml-1" [mat-dialog-close]>
      <i class="fa fa-close"></i>
      Close
    </button>
  </div>
</form>
