<section class="hero is-link">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-4 is-offset-4">
        <div class="box">


          <form #form='ngForm' autocomplete="off" (submit)="onSubmit(form)">
            <div class="field">
              <div class="control">
                <input class="form-control" #UserName="ngModel" name="UserName" [(ngModel)]="formModel.UserName"
                  required placeholder="User Name">
                <div class="invalid-feedback">
                  <div>Username is required</div>
                </div>
              </div>
            </div>

            <div class="field">
              <div class="control">
                <input type="password" class="form-control" #Password="ngModel" name="Password" placeholder="Password"
                  [(ngModel)]="formModel.Password" required>
                <div class="invalid-feedback">
                  <div>Password is required</div>
                </div>
              </div>
            </div>


            <div class="field">
              <div class="control">
                <button type="submit" class="button is-block is-link is-fullwidth is-medium" [disabled]="form.invalid">Submit</button>
              </div>
              </div>

          </form>





        </div>
      </div>
    </div>
  </div>
</section>
