<section class="hero is-fullheight">
    <main class="hero-body center">
        <section class="section has-background-light">
            <div class="container">
                <div class="columns">
                    <div class="column">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    <img src="../../assets/1.jpg" alt="Placeholder image" />
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-left"></div>
                                    <div class="media-content">
                                        <p class="title is-4">Swimming</p>
                                    </div>
                                </div>

                                <div class="content">
                                  Every summer you’re itching to use your pool, and you can!

                                  If you already have access to a condo or outdoor pool this summer, a local instructor can come to you.

                                  For more information on our At-Home Private lessons, visit our dedicated page
                                    <br />

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    <img src="../../assets/2.jpg" alt="Placeholder image" />
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-left"></div>
                                    <div class="media-content">
                                        <p class="title is-4">Location</p>
                                    </div>
                                </div>

                                <div class="content">
                                  MIS introduces all swimming skills at a young age. Swimmers are encouraged to develop each skill without restriction. We evaluate each skill independently. The focus is on building each swimmer’s strengths and developing skills to overcome their weaknesses. <br />

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    <img src="../../assets/3.jpg" alt="Placeholder image" />
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-left"></div>
                                    <div class="media-content">
                                        <p class="title is-4">Our Programs</p>
                                    </div>
                                </div>

                                <div class="content">
                                  Based on the number of skills developed, each swimmer is classified as a Beginner, Intermediate or Advanced swimmer. Advanced swimmers are considered for the competitive MIS Swim Team.
                                    <br />
                                    <time datetime="2020-06-1">1 June 2020</time>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</section>

<footer class="footer">
    <div class="content has-text-centered">
        <p><strong>BTM 495</strong> by <a href="#">Team 4</a></p>
    </div>
</footer>
