<section class="hero is-fullheight">
    <main class="hero-body center">
        <section class="section has-background-light">
            <div class="container">
                <div class="columns">
                    <div class="column">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    <img src="../../assets/1.jpg" alt="Placeholder image" />
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-left"></div>
                                    <div class="media-content">

                                        <a href="" class="title is-4" >Company Goal</a>
                                    </div>
                                </div>

                                <div class="content">
                                  Every summer you’re itching to use your pool, and you can!

                                  If you already have access to a condo or outdoor pool this summer, a local instructor can come to you.

                                  For more information on our At-Home Private lessons, visit our dedicated page
                                    <br />

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    <img src="../../assets/2.jpg" alt="Placeholder image" />
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-left"></div>
                                    <div class="media-content">

                                        <a href="" class="title is-4" >About Us</a>

                                    </div>
                                </div>

                                <div class="content">
                                  MIS introduces all swimming skills at a young age. Swimmers are encouraged to develop each skill without restriction. We evaluate each skill independently. The focus is on building each swimmer’s strengths and developing skills to overcome their weaknesses. <br />

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="card">
                            <div class="card-image">
                              <a href="docs">
                                <figure class="image is-4by3">
                                  <img src="../../assets/3.png" alt="Placeholder image" />
                              </figure>
                              </a>

                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-left"></div>
                                    <div class="media-content">
                                      <a href="docs" class="title is-4" >Documentation</a>

                                    </div>
                                </div>

                                <div class="content">
                                  This is a User Documentation to help you navigate this web application, Please contact administrator for any issues related to this application. Our team is dedicated to helping your business function 24h a day!
                                   <br>
                                    <time datetime="2020-06-1">05 August 2020</time>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</section>
<div class="card text-center">

  <div class="card-body">

    <p class="card-text">Created by TEAM 04 - BTM 495</p>
    <a href="" class="btn btn-primary">TEAM 04 - BTM 495</a>
  </div>

</div>
