<section class="hero is-fullheight">
    <main class="hero-body center">
        <section class="section has-background-light">
            <div class="container">
                <div class="columns">
                    <div class="column">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    <img src="../../assets/frontend.jpg" alt="Placeholder image" />
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-left"></div>
                                    <div class="media-content">
                                        <p class="title is-4">Front End</p>
                                    </div>
                                </div>

                                <div class="content">
                                    This application is build with Angular 9.1.1, Angular Materials, Boostrap, Font Awesome, NgRx and Visual Studio Code as IDE. It is hosted on Azure Windows web app.
                                    <br />
                                    <time datetime="2020-06-1">1 June 2020</time>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    <img src="../../assets/auth.jpg" alt="Placeholder image" />
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-left"></div>
                                    <div class="media-content">
                                        <p class="title is-4">Authentication</p>
                                    </div>
                                </div>

                                <div class="content">
                                    Microsoft Identity is the authentication and Azure Key Vault used to safeguard credentials. Jwt is used between front end and backend authentication as well as securing the API. <br />
                                    <time datetime="2020-06-1">1 June 2020</time>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    <img src="../../assets/api.jpg" alt="Placeholder image" />
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-left"></div>
                                    <div class="media-content">
                                        <p class="title is-4">API</p>
                                    </div>
                                </div>

                                <div class="content">
                                    .NET Core 3.1 is the API and developed with Visual Studio 2019. It is hosted in a Linux based Azure app. SQL server is the backend and it is hosted on Azure SQL server databases.
                                    <br />
                                    <time datetime="2020-06-1">1 June 2020</time>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</section>

<footer class="footer">
    <div class="content has-text-centered">
        <p><strong>My Website</strong> by <a href="#">Fawad Saadat</a></p>
    </div>
</footer>